target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
/.idea/
#!.idea/copyright/gc_seeker.xml
#!.idea/copyright/profiles_settings.xml
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/logs.log

### PyCharm ###
**/.idea/

### Test Scripts ###
*.zip
/test-scripts/apm/apm_results/
/test-scripts/fm/busybox_results/
**logs.log
**temp.cfg
/test-scripts/ecai/ide/results/lazy_eval.log
