#Configurations for GeneticConflictSeeker
nameKB=busybox-1.18.0.xml
kbPath=./data/kb/
#existingCSPath=./data/existing/allConflictSets.da
#existingCSWithoutCFPath=./data/existing/allConflictSetsWithoutCF.da

resultPath=./data/result.txt
allCSPath=./data/allConflictSets.da
allCSWithoutCFPath=./data/allConflictSetsWithoutCF.da

maxNumConflicts=20
cfInConflicts=yes

machine=new laptop
emailAfterEachConf=no
emailAddress=manleviet@gmail.com
emailPass=bjwtqunowcmujwno

populationSize = 20
noPreferenceProbability = 0.7
mutationProbability = 0.1
maxNumGenerations = 30
stopAfterXTimesNoConflict = 10
maxFeaturesInUR = 100
printResult = no

# additional features

# extinction
extinctAfterXTimesNoConflict = 5
stopAfterXExtinctions = 5

# weighting
weightedConflicts=yes
weightedCrossover=yes
weightedCrossoverFactor=2
avoidSameOriginalConflict=yes

# statistics logging
statisticsPath=./data/statistics/example_stats.csv
summaryPath=./data/statistics/overview.csv