#Configurations for GeneticConflictSeeker

#existingCSPath=./data/existing/allConflictSets_apm.da
#existingCSWithoutCFPath=./data/existing/allConflictSetsWithoutCF_apm.da

resultPath=./data/result.txt
allCSPath=./data/allConflictSets_apm.da
allCSWithoutCFPath=./data/allConflictSetsWithoutCF_apm.da

maxNumConflicts=5
cfInConflicts=yes

machine=new laptop
emailAfterEachConf=no
emailAddress=manleviet@gmail.com
emailPass=bjwtqunowcmujwno

populationSize = 20
noPreferenceProbability = 0.7
mutationProbability = 0.1
maxNumGenerations = 30
stopAfterXTimesNoConflict = 10
maxFeaturesInUR = 100
printResult = no

weightedConflicts=no
avoidSameOriginalConflict=no